* {
  padding: 0%;
  margin: 0%;
  font-family: "Baskerville", "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
  ;
}
body {
  background-color: #0047ab;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flexbox;
}
.main {
  margin-top: 10vh;
  height: 180vh;
  width: 90vw;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: linear-gradient(145deg, #e1e1e1, #f9f7f7);
  display: block;
}
#img {
  height: 10%;

  width: 20%;
  min-width: 18%;
  z-index: 1000;
}
.main2 {
  height: calc(100% - 35vh);
  width: 80vw;
  margin-top: 5%;
  margin-left: 4%;
  margin-right: 4%;
  background: transparent;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border: 1px solid rgba(255, 255, 255, 0.83);
  display: flex;
  align-items: center;
  justify-content: center;
}
.login {
  width: 40vw;
  height: 85vh;
  padding: 20px;
  background: rgba(159, 159, 159);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border: 1px solid rgba(255, 255, 255, 0.83);
  display: block;
}

.login h1 {
  font-size: 36px;
  margin-bottom: 25px;
}

.login form {
  font-size: 20px;
}

.login form .form-group {
  margin-bottom: 12px;
}

.login form input[type="submit"] {
  font-size: 20px;
  margin-top: 15px;
}
.btn{
  background-color:#0047ab
  
}

a {
  text-decoration: none;
  color:  rgb(104, 104, 104);
}

ul,
li {
  list-style: none;
}
ul{
  padding: 0%;
}

/* --- Clearfix for floated Elements --- */

/* I never ended up using this for the nav-bar */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* --- Typography --- */

.small-caps {
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-size: 0.7rem;
}

.bolder {
  font-weight: bolder;
}

.lighter {
  font-weight: lighter;
}

.text-center {
  text-align: center;
}

.site-logo {
  font-size: 2rem;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  margin: 0 1rem;
}

/* --- Elements --- */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav-bar {
  position: absolute;
  top: 27%;
  width: 80%;
  background-color: transparent;
  height: 60px;
  z-index: 1;
  left: 9%;
}

.nav-bar .container {
  display: flex;
  align-items: center; /* vertically center */
  height: 100%;
}

/* Hide checkbox that controls Mobile Nav Button*/
#drop-down-cbox {
  display: none;
}

/* Mobile Nav Button */
#drop-down-cbox + label {
  position: relative;
  display: none;
  width: 60px;
  height: 60px;
  overflow: hidden;
  background-color: transparent;
  transition: all 10ms ease-in-out;
}

/* Mobile Nav Button Bars */
#drop-down-cbox + label span {
  position: absolute;
  display: block;
  background-color: #666;
  width: 34px;
  height: 4px;
  border-radius: 2px;
  left: 50%;
  transform: translate(-50%, -50%); /* centering trick */
  transition: all 300ms ease-in-out;
}

/* Mobile Nav Button Bars Invididually */
#drop-down-cbox + label span:nth-child(1) {
  top: 35%; /* evenly spaced */
}
#drop-down-cbox + label span:nth-child(2) {
  top: 50%; /* evenly spaced */
}
#drop-down-cbox + label span:nth-child(3) {
  top: 65%; /* evenly spaced */
}

/* Mobile Nav Button Styling for Checked */
#drop-down-cbox:checked + label {
  background-color: #666;
}

#drop-down-cbox:checked + label span {
  background-color: rgb(173, 173, 173);
}

/* Transform the bars into an 'X' */
#drop-down-cbox:checked + label span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg); /* center, then rotate */
}
#drop-down-cbox:checked + label span:nth-child(2) {
  left: -150%; /* move center bar out of the picture */
}
#drop-down-cbox:checked + label span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg); /* center, then rotate */
}

/* Main Nav Desktop */
.main-nav {
  flex-grow: 1; /* fill remaining space */
  display: flex;
  justify-content: space-around; /* evenly space items */
  align-items: center; /* center vertically */
}

.main-nav li {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px; /* vertically center text, matches height */
  text-align: center;
  color: rgb(98, 98, 98);
  font-size: 17px;
}

.main-nav li a,
.main-nav li span {
  display: block;
  width: 100%;
  height: 100%;
}

.main-nav li a:hover,
.main-nav li span:hover {
  border-bottom: 4px solid #666;
}

.main-nav li > ul {
  max-height: 0px; /* max-height instead of height, height can't transition to auto */
  transition: all 500ms ease-in-out;
  overflow: hidden; /* make it so nav doesn't show beyond the 0px max-height */
  width: 100%;
}

.main-nav li:hover > ul {
  max-height: 180px; /* height x how many links */
  height: auto;
}

.main-nav li > ul li a,
.main-nav li > ul li span {
  background-color: rgb(255, 255, 255);
   
}

.main-nav li > ul li a:hover,
.main-nav li > ul li span:hover {
  background-color: #666;
  color: white;
  border-bottom: none;
  
}

/* Tablet and Mobile View */
@media (max-width: 768px) {
  .site-logo {
    font-size: 1.5rem;
    flex-grow: 1;
    text-align: center;
  }

  #drop-down-cbox + label {
    display: block;
  }

  .main-nav {
    max-height: 0px;
    height: calc(100vh - 60px);
    overflow: hidden;
    position: absolute;
    top: 60px;
    line-height: auto;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: rgb(221, 221, 221);
    transition: all 500ms ease-in-out;
  }

  #drop-down-cbox:checked ~ .main-nav {
    max-height: calc(100vh - 60px);
    transition: all 500ms ease-in-out;
  }

  .main-nav li span {
    position: relative;
  }

  /* design and position downward arrow */
  .main-nav li span:after {
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    margin-left: 8px;
    transform: translateY(-50%) rotate(-45deg);
    border-left: 2px solid #666;
    border-bottom: 2px solid #666;
  }

  .main-nav li a:hover,
  .main-nav li span:hover {
    background-color: #666;
    color: white;
    border-bottom: none;
  }

  .main-nav li > ul li {
    position: relative;
  }

  .main-nav li > ul li a,
  .main-nav li > ul li span {
    background-color: #eee;
  }
  #img {
    height: 10%;
    width: 40%;
  }
}
@media (max-width : 1607px) {
  .login{
    position: absolute;
    top: 10%;
    width: 90%;
  }
  .login p{
    font-size: 10vw;
    position: absolute;
    left: 30%;
  }
}
/* this is for dark and light mode*/
.switch {
  position: absolute;
  margin-top: 10px;
  height: 38px;

  width: 70px;
  right: 6%;
  top: 10%;
  background-color: #575757;
  border-radius: 5rem;
  cursor: pointer;
}
#circle {
  transition-duration: 0.7s;
}
